<div class="container">
  <div class="details">
   

    <form [formGroup]="loginForm" (ngSubmit)="login()">
<div>
  <label for="email">Email</label>
  <input type="email"  
  name="email"
  formControlName="email"
  placeholder="john.doe@gmail.com"
  />
</div>

<div>
  <label for="password">Email</label>
  <input type="password"  
  name="email"
  formControlName="password"
  placeholder="*****"
  />
</div>



    <button text="Login"></button>
    <div class="register">
      New user? &nbsp;
      <a routerLink="/register"> 
        Register here
      </a>
    </div>
    </form>
  </div>
</div>